<div class="container" style="margin : 100px auto">
    <div class="row">
        <div class="col-6 offset-3 ">
            <h4>Modificar el producto</h4>
            <form action="/admin/productos/modificar" method="post" enctype="multipart/form-data"> {{!-- enctype para
                que pueda recibir imagenes --}}
                <div class="form-group py-2">
                    <input type="hidden" class="form-control" value="{{producto.id}}" name="id"></input>

                </div>
                <div class="form-group py-2">
                    <input type="text" class="form-control" value="{{producto.marca}}" name="marca">

                </div>
                <div class="form-group py-2">
                    <textarea type="text" class="form-control" name="modelo">{{producto.modelo}}</textarea>

                </div>
                <p>
                    <label>Imagen: <input type="file" name="imagen" id="imagen" /></label>
                </p>

                <p>
                    <label><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen
                        actual?</label>
                    <input type="hidden" name="img_original" value="{{producto.img_id}}">

                </p>

        </div>


        <button type="submit" class="btn btn-primary">Modificar</button>
        </form>
        {{#if error}}
        <p>{{message}}</p>
        {{/if}}
    </div>
</div>
</div>